
<mat-card>
  <mat-card-content>
    <div class="header">
      <P>New Blog Post Entry </P>
    </div>
    <mat-divider></mat-divider>
    <form  [formGroup]="profileForm">
      <div class="name">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Name</mat-label>
        <input matInput
        required/>
        </mat-form-field>
      </div>
      <div class="emailInput">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Email</mat-label>
          <input
            formControlName="email"
            matInput
            placeholder="Enter email address"
            required
          />
          <mat-error >
            Email is required
          </mat-error>
        </mat-form-field>
      </div>
      <div class="desc">
        <mat-form-field class="full-width" appearance="fill">
          <mat-label>Description</mat-label>
          <textarea matInput></textarea>
        </mat-form-field>
      </div>
      <button mat-raised-button color="primary">Submit Form</button>   
      
      <button mat-raised-button color="primary" type="reset">Reset</button>
    </form>
  </mat-card-content>
</mat-card>
