
mat-card {
    max-width: 600px;
    margin: 2em auto;
    text-align: center;
    max-height: 600px;
    background-color: rgb(254, 254, 254);
  }
  
  .header{
    text-align: center;
    font-size: 30px;
    
  }
  .full-width {
    width: 80%;
    padding-top: 20px;
  }
  
  .emailInput{
    
  }
  
  .contentBody {
    padding: 60px 1rem;
    background :#1b6ca8;
    display: block;
  }

button{
  margin-left: 20px;
}